.container-logIn{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
  align-items: center;
  max-width: 390px;
  border-radius: 4px;
  background: white;
  margin: 0 auto;
  box-shadow: 4px 4px 100px 2px rgba(34, 60, 80, 0.2);
}
.bigcontainer{
  display: flex;

}



